* {
	margin: 0px;
	padding: 0px;
	border: none;
}

body {
	display: flex;
}
#calcContainer {
	border: solid black;
	width: 450px;
	height: 725px;
	background-color: grey;
	box-sizing: border-box;
	margin: auto;
	margin-top: 25%;
}

#display-Container {
	width: 400px;
	height: 150px;
	box-sizing: border-box;
	display: flex;
	background-color: white;
	margin: auto;
	margin-top: 25px;
	margin-bottom: 25px;
	align-items: center;
}
.display {
	width: stretch;
	height: stretch;
	display: inline;
	flex-wrap: wrap;
	text-align: center;
	line-height: 150px;
	font-weight: bolder;
	font-size: 75px;
	font-family: monospace;
}

#buttonContainer {
	background-color: white;
	width: 400px;
	height: 500px;
	box-sizing: border-box;
	display: flex;
	margin-left: auto;
	margin-right: auto;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}
.button {
	font-family: monospace;

	font-size: 75px;
	border: 1px black solid;
	width: 100px;
	height: 100px;
	box-sizing: border-box;
	border-radius: 5px;
}
.operator-Button {
	font-family: monospace;
	font-size: 75px;
	border: 1px black solid;
	width: 100px;
	height: 100px;
	box-sizing: border-box;
	border-radius: 5px;
}

.intButton {
	font-family: monospace;
	font-size: 75px;
	border: 1px black solid;
	width: 100px;
	height: 100px;
	box-sizing: border-box;
	border-radius: 5px;
}
.clearButton {
	font-size: 50px;
	font-family: monospace;
	border-radius: 10px;
	border: 1px black solid;
	height: 100px;
	box-sizing: border-box;
	width: 100px;
}

#equals-Button {
	font-family: monospace;
	font-size: 75px;
	border: 1px black solid;
	width: 400px;
	height: 100px;
	box-sizing: border-box;
	border-radius: 5px;
}
